.userArticle {
  margin-bottom: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
}

.userArticle img {
  border-radius: 8px;
  width: 30px;
  height: 30px;
}

.userArticle span {
  font-size: 14px;
}