.postsSection {
  padding-left: 2rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .postsSection {
    padding-left: 0;
    position: relative;
    padding-top: 2rem;
  }

  .postsSection::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3f4145;
  }
}