.postViewList {
  margin-top: 20px;
}

.postViewList li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(87, 87, 87, 0.2);
  padding: 1rem;
  padding-left: 1.5rem;
  position: relative;
  margin-bottom: 20px;
}

.postViewList li::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(87, 87, 87, 0.581);
}

.postViewList .bookThumbnail {
  width: 70px;
  height: 100px;
}

.postViewList li>img {
  flex-grow: 0;
}

.postViewList li>div {
  flex-grow: 2;
}

.postViewList li:last-of-type {
  margin-bottom: 0;
}

.postViewList li strong {
  font-size: 16px;
  font-weight: 500;
}

.postViewList li p {
  margin-top: 8px;
  line-height: 1.5;
  font-size: 12px;
  word-break: break-all;
}

.postViewList li p:first-of-type {
  margin-top: 10px;
  font-size: 14px;
}

.postViewList button {
  cursor: pointer;
  padding: 5px;
  flex-grow: 0;
}

.modalBtnDiv {
  margin-top: 2rem;
  display: flex;
  gap: 8px;
}

.modalBtnDiv>button {
  background-color: #181818;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: all .3s;
}

.modalBtnDiv>button:last-of-type:hover {
  color: rgb(255, 0, 0);
}

.randomPostUser {
  font-size: 10px;
  color: var(--gray300-color);
}

.noPosts,
.loading {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray400-color);
  font-size: 14px;
}


@media screen and (max-width: 480px) {
  .postViewList li {
    gap: 10px;
    padding: 12px 10px;
    padding-left: 1rem;
  }

  .postViewList li strong {
    font-size: 14px;
  }

  .postViewList li p {
    font-size: 10px;
  }

  .postViewList li p:first-of-type {
    font-size: 12px;
  }
}