.layout {
  margin: 0 auto;
  max-width: 80rem;
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid #3f4145;
}

.main {
  padding: 2rem 3rem;
}

.footer {
  border-top: 1px solid #3f4145;
  width: 100%;
  padding: 2rem;
  background-color: #212121;
}

.footer p {
  font-size: 12px;
  margin-top: 5px;
  color: var(--gray200-color);
}