.layout {
  margin: 0 auto;
  max-width: 80rem;
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid #3f4145;
}

.logoContainer {
  width: 130px;
  height: 80px;
}

.logoContainer p {
  text-align: center;
  padding: 1.25rem 0;
  color: var(--gray100-color);
}

.main {
  padding: 2rem 3rem;
}

.footer {
  border-top: 1px solid #3f4145;
  width: 100%;
  padding: 2rem;
  background-color: #212121;
}

.footer p {
  font-size: 12px;
  margin-top: 10px;
  color: var(--gray200-color);
}

@media screen and (max-width: 480px) {
  .header {
    height: 3.5rem;
    padding: 0 18px;
  }

  .header h1 {
    height: 100%;
  }

  .header img {
    width: 6rem;
    height: 100%;
  }

  .main {
    padding: 24px 18px;
  }

  .footer {
    padding: 18px;
  }
}