.nav {
  min-width: 30%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  text-align: center;
}

.nav li a,
.nav li button {
  cursor: pointer;
  display: block;
  padding: 1rem;
}

.loginStrong {
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}

.loginBtn {
  background: url("../../assets//kakao_icon.webp") no-repeat 1rem/10%;
  background-color: #FDDC3F;
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: #121212;

}

.loginBtn:last-of-type {
  margin-bottom: 1rem;
}