.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  text-align: center;
}

.nav li a,
.nav li button {
  cursor: pointer;
  display: block;
  padding: 1rem;
}

.loginStrong {
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}

.loginBtn {
  background: url("../../assets//kakao_icon.webp") no-repeat 1rem/10%;
  background-color: #FDDC3F;
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: #121212;
  margin-bottom: 1rem;
}

.logoutBtnDiv {
  display: flex;
  gap: 8px;
  margin-top: 1.5rem;
}

.logoutBtn {
  cursor: pointer;
  padding: 1rem;
  width: 50%;
  background-color: #1c1c1c;
  border-radius: 8px;
  transition: all 0.3s;
}

.logoutBtn:last-of-type:hover {
  filter: brightness(150%);
}

@media screen and (max-width: 480px) {

  .nav li a,
  .nav li button {
    font-size: 14px;
  }

  .nav li button {
    padding-right: 0;
  }
}