.nav {
  min-width: 30%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  text-align: center;
}

.nav li a,
.nav li button {
  display: block;
  padding: 1rem;
}