.searchViewContain {
  margin-top: 1.5rem;
}

.searchViewContain>p {
  font-size: 12px;
  color: var(--gray100-color);
  margin-bottom: 20px;
}

.searchViewContain ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2rem 1rem;
}

.bookInfo {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookInfo:hover {
  transform: scale(1.1);
}

.bookInfo button {
  order: 1;
  cursor: pointer;
}

.bookInfo strong {
  order: 2;
  font-weight: 500;
  font-size: 14px;
  margin-top: 14px;
}

.bookInfo p {
  order: 3;
  font-size: 12px;
  color: var(--gray200-color);
  line-height: 1.5;
  text-align: justify;
  margin-top: 8px;
  cursor: pointer;
}

.expanded {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalBtn {
  display: block;
  margin-top: 1.5rem;
  background-color: #1c1c1c;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.modalBtn:hover {
  filter: brightness(150%);
}

.searchViewContain>p.noBooks {
  font-size: 14px;
  text-align: center;
  margin-top: 2rem;
}