.scrollbar {
  overflow-y: overlay;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

.contain {
  display: flex;
}

.contain section {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .scrollbar {
    overflow: auto;
  }

  .scrollbar::-webkit-scrollbar {
    width: initial;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: initial;
    border-radius: initial;
  }

  .scrollbar::-webkit-scrollbar-track {
    box-shadow: initial;
    background-color: initial;
  }

  .contain {
    display: flex;
    flex-direction: column;
  }

  .contain section {
    width: 100%;
  }
}