.contain {
  display: flex;
  min-height: 60vh;
}


.contain section {
  width: 50%;
}

/* *********************************************************** */



/* *********************************************************** */

.postsSection {
  padding-left: 1rem;
  position: relative;
}

.postsSection::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #3f4145;
}