@font-face {
  font-family: 'Pretendard';
  src: url('../fonts//Pretendard-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.scrollbar {
  overflow-y: overlay;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray200-color);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

.postForm {
  margin-top: 20px;
  min-height: 60vh;
  padding: 0 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.postForm img {
  width: 110px;
  height: 160px;
}

.posting {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.posting strong {
  display: block;
  font-size: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--gray400-color);
  font-weight: 500;
}

.posting textarea {
  resize: none;
  font-size: 14px;
  width: 100%;
  height: 10rem;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--gray400-color);
  border-radius: 8px;
  color: #fff;
  line-height: 1.5;
  font-family: 'Pretendard', sans-serif;
}

.posting textarea::placeholder {
  color: var(--gray200-color);
  font-size: 14px;
}


.posting textarea:focus {
  outline: 1px solid var(--gray200-color);
}

.align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posting p {
  font-size: 14px;
  padding-bottom: 1rem;
}

.posting button {
  margin-left: auto;
  width: 4rem;
  padding: 0 0 1rem 1rem;
  font-size: 16px;
  text-align: right;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .postForm {
    flex-direction: column;
    padding: 0;
    gap: 3rem;
  }

  .posting {
    width: 100%;
  }
}