.timeSection h2 {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 1rem;
  border-bottom: 1px solid #777;
}

.info {
  font-size: 14px;
  color: var(--gray300-color);
  margin-top: 10px;
}

.timeForm {
  margin-top: 1.5rem;
}

.tiemInputDiv {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 20px;
}

.timeInput {
  width: 50%;
  display: flex;
  gap: 8px;
}

.timeInput input {
  padding: 10px 20px;
  flex-grow: 2;
  background-color: #282828;
  border-radius: 4px;
}

.timeInput label {
  padding: 10px 0;
  flex-grow: 0;
}

.timeBtnDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.timeBtnDiv button {
  cursor: pointer;
  padding: 10px 0 10px 1rem;
  transition: all 0.3s;
}

.timeRemove:hover {
  color: red;
}

@media screen and (max-width: 480px) {
  .timeSection h2 {
    font-size: 1rem;
  }

  .timeForm p {
    font-size: 14px;
  }
}