:root {
  --main-blue-color: #1E90FF;
  --main-cinnamon-color: #FA8072;
  --sub-blue-color: #87CEFA;
  --sub-cinnamon-color: #FFA07A;
  --gray100-color: #D7D7D7;
  --gray200-color: #C4C4C4;
  --gray300-color: #8C8C8C;
  --gray400-color: #777;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #121212;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

input {
  all: unset;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  all: unset;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

/* **************************************************************************************** */
.react-calendar {
  width: 100%;
  background: none;
  border: none;
  line-height: 2.5;
}

.react-calendar__navigation__label {
  pointer-events: none;
}

.react-calendar__navigation {
  height: 44px;
  display: flex;
  justify-content: space-between;
  background: none;
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.react-calendar__navigation__arrow {
  flex-grow: 1;
}

.react-calendar__navigation span {
  display: block;
  text-align: center;
}

.react-calendar__navigation button:disabled {
  color: var(--gray400-color);
}

.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__weekdays__weekday--weekend {
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday>abbr,
.react-calendar__month-view__weekdays__weekday--weekend>abbr {
  text-decoration: none;
}

.react-calendar__tile,
.react-calendar__month-view__days__day,
.react-calendar__month-view__days__day--weekend {
  text-align: center;
  border-radius: 4px;
}

.react-calendar__tile {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.react-calendar__tile>abbr,
.react-calendar__tile>div {
  height: 50%;
}

.highlight>div>p {
  color: var(--gray200-color);
  font-size: 12px;
}

.react-calendar__tile--now {
  background: var(--main-cinnamon-color);
}

.react-calendar__tile--now.highlight>div>p {
  color: #fff;
}

.react-calendar__month-view__days__day:hover,
.react-calendar__month-view__days__day:focus {
  outline: 1px solid var(--sub-cinnamon-color);
}